<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
  <style>
    body{
      background-color: #f5f9ff;
    }
  </style>

  <title>Cadastro</title>
  
</head>
<body>
  
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <div class="card border-0 shadow-lg">
          <div class="card-header">
            <h5 class="text-center">Cadastro de consulta</h5>
          </div>
          <div class="card-body p-4">
            <form method="POST" action="create">
              <input type="text" name="name" id="name" placeholder="nome do paciente" class="form-control form-control-lg">
              <input type="email" name="email" id="email" placeholder="email@email.com" class="form-control form-control-lg my-3">
              <input type="text" name="cpf" id="CPF" placeholder="CPF" class="cpf form-control form-control-lg">
              <input type="text" name="description" id="description" placeholder="descrição" class="form-control form-control-lg my-3">
              <input type="date" name="date" id="date" class="form-control form-control-lg" placeholder="00/00/0000">
              <input type="time" name="time" id="time" class="form-control form-control-lg my-3">

              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg">Agendar</button>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="jquery.mask.min.js"></script>
<script>
  $('.cpf').mask('000.000.000-00');
</script>
</html>