<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
  <style>
    body{
      background-color: #f5f9ff;
    }
  </style>

  <title>Consulta</title>
</head>
<body>
  
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="card border-0 shadow-lg p-4">
        <div class="card-body">
          <h3 class="text-center">Consulta: <%= appo.description %></h3>
          <h5 class="text-secondary text-center"><%= appo.name %></h5>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item ">Email: <%= appo.email %></li>
          <li class="list-group-item">CPF: <%= appo.cpf %></li>
        </ul>
        
      </div>

      <% if(!appo.finished) {%>
        <form method="POST" action="/finish">
          <div class="d-grid gap-2 mt-3">
            <input type="hidden" name="id" value="<%=appo._id%>">
            <button class="btn btn-lg btn-primary">Finalizar consulta</button>
          </div>
        </form>
      <% } %>

    </div>
  </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>