<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/lib/main.css">
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet' />
  <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
  
  <style>
    body{
      background-color: #f5f9ff;
    }
  </style>
  
  <title>Document</title>
</head>
<body>

  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-8">
        <div class="card border-0 shadow-lg p-4">
          <div class="card-body">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>

<script src="/lib/main.js"></script>
<script>

  const element = document.getElementById("calendar");
  const calendar = new FullCalendar.Calendar(element, {
    themeSystem: 'bootstrap',
    initialView: 'dayGridMonth',
    locale: 'pt-br',
    events: 'getcalendar',
    eventClick: function(info) {
      window.location.href = `/event/${info.event.id}`;
    } 
  });
  calendar.render();

</script>
</html>