<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
  <style>
    body{
      background-color: #f5f9ff;
    }
  </style>

  <title>Lista</title>
</head>
<body>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-10">
        <form action="/searchresult" method="GET">
          <div class="input-group mb-3">
            <input type="text" name="search" class="form-control form-control-lg" placeholder="Digite o e-mail ou CPF do paciente">
            <button class="btn btn-lg btn-primary" type="submit">Button</button>
          </div>
        </form>
  
            <table class="table mt-5">
              <thead class="table-primary">
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col">Paciente</th>
                  <th scope="col">Email</th>
                  <th scope="col">CPF</th>
                </tr>
              </thead>
              <tbody>
                <% appos.forEach(appo => { %>
                  <tr>
                    <td><%= appo.description %></td>
                    <td><%= appo.name%></td>
                    <td><%= appo.email %></td>
                    <td><%= appo.cpf%></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          
      </div>
    </div>
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>